.menu{
float:center;
width:1000px;
Height:35px;
border-top-style:solid;
border-bottom-style:solid;
border-right-style:dashed;
border-left-style:dashed;
border-top-width: 1px;
border-bottom-width: 1px;
border-right-width: 1px;
border-left-width: 1px;
border-color:#4F6228;
line-height:35px;
}

.menu li{
float:left;
}

.menu ul {
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

.menu a:link,a:visited {
display:block;
width:500px;
height: 35px;
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
text-decoration:none;
text-transform:uppercase;
}

.menu a:hover,a:active
{
background-color:#7A991A;
}

.page {
float:center;
width:980px;
Height:90`%;
border-right-style:dashed;
border-left-style:dashed;
border-bottom-style:solid;
border-right-width: 1px;
border-left-width: 1px;
border-bottom-width: 1px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 20px;
background-color:#EAF1DD;
border-color:#4F6228;
}

.center{
	margin:auto;
	width:70%;
	background-color:#D0D0D0;
}

.h1{
	font-size:35px;
	text-align:Center;
}
.footer {
	background-color:#98bf21;
	text-align:center;
	border-style:solid;
	border-width:1px;
	line-height:20px
	}